
  /* Contributor images css */
  .outer_container{
    padding: 10px 8px;
    background: #1d1f2d;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .contributor_div{
    padding: 40px 10vw;
    
    background: #1d1f2d;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: space-around;

  }
  .contributor_div_inner{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
  }
  .contributor_image{
    padding: 20px;
  }
  .contributor_heading{
    padding-bottom: 3px;
    font-size: 30px;
    line-height: 36px;
    font-family: Nimbus Sans;
    color: #b4b4b4;
  }
  .contributor_names{
    font-size: 18px;
    line-height: 18px;
    font-family: Josefin Sans;
    color: white;
    text-align: center;
    padding-top: 25px;
  }
  .contributor_img{
    height: 250px;
    width: 200px;
    border-radius: 8px;
    object-fit: cover;
  }