
  .outer_container{
    padding: 10px 8px;
    /* height: 100vh; */
    width: 1305px;
    margin: auto;
    /* background: #C1DCDC; */
    /* background: #1e2240; */
    background: #1e2134;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .contributor_div{

    padding: 40px 10vw;
    /* background: #34374b; */
   
    /* margin-top: 150px; */
    text-transform: capitalize;
    text-align: center;
    margin-left: 40px;
    color: white;
    display: flex;
    flex-direction: column;

    
  }
  .contributor_div_inner{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    align-items: center;
    justify-content: space-evenly;
  }
  .contributor_image{
    padding: 20px;
    border-radius: 10px;
 
  }
  
  .contributor_names{
    font-size: 21px;
    /* line-height: 18px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding-top: 15px;
    display: block;
    text-decoration: none;
  }
  .contributor_names:hover{
    color:  #04AA6D;
  }

  .contributor_img{
    height: 250px;
    width: 200px;
    border-radius: 8px;
    object-fit: cover;
    border: 3px solid black;
    transition: 0.2s;
  }
  .contributor_img:hover{
    transform: scale(1.1);
  }