.Navbar-wrapper{
	display : flex;
	flex-direction: row;
	height : 93px;
	align-items: center;
	justify-content: left;
	width : 1319px;
}

.group{
	display: flex;
	align-items: center;
	margin-left : 50px;
	width: 300px;
	height: 100%;
	font-family: 'Bitter';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #1E1E1E;
}

.labelname{
	display: flex;
	align-items: center;
	width: 100px;
	height: 100%;
	text-decoration : none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: medium;
	font-size: 18px;
	line-height: 27px;
	color: #1E1E1E;
}