/**{
  outline : 1px solid red;
}*/

.mainHeader{

  display : flex;
  flex-direction: row;
  justify-content: space-between;
	margin-top: 40px;
	font-size: 37px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 50px;
/*  background-color: aqua;*/
  position: relative;
}

.heading{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
  color: #000000;
}
.image{
  position: relative;
}

.topImage{
  position: absolute;
  z-index: 1;
  left: 781px;
  top: 201px;
}

*/
.container{
  width : 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
}

.row{
	width : 100%;
	display: flex;
  flex-direction : row;
	justify-content: center;
	align-items: center;
}

.btn-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin : 10px;
}

.parseButton{
  appearance: none;
  /* background-color: #2ea44f; */
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  padding: 6px 30px;
  margin-top: 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.parseButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.parseButton:hover {
  background-color: #2d954a;
}

.parseButton:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.parseButton:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.parseButton:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.btn-warning{
	position: relative;
	transition: 0.2s;
	overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center ;
  padding: 30px 15px;
  width: 178px;
  height: 48px;
  background: #C1DCDC;
  border-radius: 99px;
  border : 0;
  margin : 0 100px;
  }
  
  .btn-warning input[type = "file"]{
  	cursor: pointer;
  	position: absolute;
  	left: 0%;
  	top: 0%;
  	transform: scale(3);
  	opacity: 0;
  }
  
  .btn-warning:hover{
/*    color : #C1DCDC;*/
      cursor: pointer;
	   background-color: #C1DCDC;; 
  }

  .btn-warning:active{
    background-color: white;
  }
  /* dropdown menu css */

select{
  width : 280px;
  height : 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 20px;
  border-radius: 8px;
  line-height: 20px;
  cursor : pointer;
  border : 1px solid black;

  /*to hide the custom arrow*/
  -webkit-appearance : none;
  -moz-appearance : none;
  /*add custom arrow*/
  background-image : url(../assets/images/Chevron.svg);
  background-repeat : no-repeat;
  background-position-x : 250px;
  background-position-y : center;
}
.label{
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
label > span{
  margin-right: 40px;
} 
label > select {
  border: none;
  border-radius: 3px;
  padding: 8px
}

option:checked{
  height: 60px ;
  background-color: #C1DCDC ;
}
  /* new updated classes */
.update{
  width: 1319px;
  background: #C1DCDC;
  border-radius: 24px;
  overflow: hidden;
}

  .btn-and-table{
    display: flex;
    flex-direction: column;
  }
  .btn-update{
    margin-bottom: 20px;
    margin-top: 20px
  }
  