.table-container{
	margin: 40px auto;
  background-color: white;
  overflow-y: auto;
  max-height: 60vh;
}

/* new updated table css */
table, th, td{
  border: 1px solid black;
  padding: 5px;
}


table{
  border-collapse: collapse;
  width: 100%;
}

th{
    height: 70px;
    width: 250px;
    background-color: #04AA6D;
    /* background-color: #274142; */
    color: white;
}

tr:hover{
  background-color: #eefcfc;

}



td{
  text-align: center;
  height: 30px;
}