.table-container{
	margin: 40px auto;
  display:  flex;
  flex-direction:  column;
}

.table-header{
  font-weight : bold;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction : column;
}

.table-row{
  width : 100%;
  display: flex;
  flex-direction : row;
  justify-content: space-around;
  align-items: center;
}


.heading{
  font-weight : 200;
  font-size: 20px;
}

.cell{
  padding : 5px;
  border : 1px solid black;
  display: flex;
  justify-content: center;
  align-items : center;
}
