body{
	/* margin: 50px; */
	background: rgb(255,255,255);
    background: linear-gradient(73deg, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 2%, rgba(220,230,255,1) 77%);


	font-family: Verdana, sans-serif;

	height: 100%;
	width: 100%;
	margin : 0;
	padding: 0;
}